body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: calc(0.3vw + 0.1vh);
    background-color: cornflowerblue;
}

main {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}